<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Join room as viewer</title>

        <link rel="stylesheet" href="/css/general.css">
        <link rel="stylesheet" href="/css/join-room.css">

        <script src="/js/join-room.js" defer></script>
    </head>
    <body>
        <div class="content-box">
            <label for="txtRoomId">Room ID</label>
            <input id="txtRoomId" type="text">
            <button id="btnJoinRoom">Join</button>
        </div>
    </body>
</html>